@model LIBMGMT.Models.Student

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://img.freepik.com/free-vector/people-reading-books-library_74855-7788.jpg?w=1060&t=st=1697698880~exp=1697699480~hmac=9b95ed56612d776536f185b32134129235fb2c56599443284708ac97c2a2b8e3'); /* Replace 'your-background-image.jpg' with the path to your image */
            background-size: cover;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 20px;
        }

        h1 {
            font-size: 24px;
        }

        .row {
            margin-top: 20px;
        }

        .col-sm-2 {
            font-weight: bold;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
        }

        .btn-secondary {
            background-color: #6c757d;
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>Student Details</h1>
    <div class="container">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.StudentId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</body>
</html>
